{% extends "auctions/layout.html" %}
{% block body %}
    {% if not list %}
        <h3>No items  at this moment</h3>
    {% endif %}
    <div>
        <ol>
            {% for item in list %}
                 <div>
                    <li>
                        <div>
                            <h2>{{ item.title }}</h2>
                        </div>
                        <div>
                            <h5>Winner name:{{ item.name}}</h5>
                            <h5>Final bid price:{{ item.final_price}}</h5>    
                        </div>
                        
                    </li>
                </div>
                <br><br>
            {% endfor %}
        </ol>

    </div>
{% endblock %}