{% extends "auctions/layout.html" %}


{% block body %}

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    
    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
           <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
           <textarea class="form-control" name="description" rows="4" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
           <select class="form-control" name="catagory" placeholder="catagory" required>
               <option value="">Choose a Category</option>
               <option value="fashion">Fashion</option>
               <option value="tools">Tools</option>
               <option value="toys">Toys</option>
               <option value="electronics">Electronics</option>
               <option value="accessories">Accessories</option>
               <option value="books">Books</option>
               <option value="miscellaneous">Miscellaneous</option>
           </select>
        </div>
        <div class="form-group">
           <input class="form-control" type="text" name="starting_bid" placeholder="Starting Bid">
        </div>
        <div class="form-group">
           <input class="form-control" type="text" name="image_link" placeholder="Image Link (Optional)">
        </div>
        <input class="btn btn-primary" type="submit" value="Create">
                       
    </form>




{% endblock %}